html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#mapid {
	height: 100%;
	width: 100%;
}

.leaflet-container {
	font-size: 20px;
	font-family: 'Montserrat';
	text-transform: uppercase;
}

.leaflet-container a {
	color: #28A9E0; /* Fairphone blue */
	text-decoration-line: none;
}

.leaflet-bar a {
	color: black;
}

.leaflet-control-layers-list {
	margin-bottom: 0;
}

.leaflet-control-layers-selector {
	vertical-align: middle;
}

input[type='checkbox'] {
	height: 25px;
	width: 25px;
}
